@model MovieStoreMvc.Models.DTO.MovieListVm
 
@{
    ViewData["Title"] = "GenreList";
}

<h1>GenreList</h1>

<div class="tbl-container"> 

    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Image</th>
            <th>Cast</th>
            <th>Director</th>
            <th>Action</th>
        
        </tr>
        @foreach(var item in Model.MovieList)
        { 
            <tr> 
            <td>@item.Title</td>
                <td>@item.GenreNames</td>
                <td>@item.ReleaseYear</td>
                <td><img style="height:60px;width:80px" src="/Uploads/@item.MovieImage" /></td>
                <td>@item.Cast</td>
                <td>@item.Director</td>  
            <td>
                <a href="/Movie/Update?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a href="/Movie/Delete?id=@item.Id" class="btn btn-danger" onclick="return window.confirm('Are You Sure to delete?')"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        }
 
    </table>
    <div class="input-container">
        <a href="/Movie/Add" class="btn btn-sec">Back</a>
    </div>
</div>